<!-- <ion-content>
  <ion-header> -->
    <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-col>
        <ion-grid>
          <div class="ion-padding-start">
            <h1 class="title">Header</h1>
          </div>
        </ion-grid>
      </ion-col>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="myBlogs">
        <ion-label>MyBlogs</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="aboutMe">
        <ion-label>About Me</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="connect">
        <ion-label>Connect</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>      
  <!-- </ion-header>
</ion-content> -->

<!-- <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <div class="home_background">
          <div class="home">
            <div class="welcome">
              <h1 style="font-size:50px; letter-spacing: 3px">Welcome to MyBlog</h1><br>
              <h3 style="opacity: 70%;">Get the latest news on your favourite mangas, anime and manhwa around the world!</h3>
              <button>Hire me</button>
            </div>
            <div class="interests">
              <p>Action</p>
              <p>Comedy</p>
              <p>Drama</p>
              <p>Military</p>
              <p>Fantasy</p>
            </div>
            <div class="Slanting_page">
            </div>
          </div>
        </div>

        <div class="new_trends">
          <ion-list>
            <ion-item-group>
              <ion-item-divider>
                <ion-label class="page_label">
                  New Trends
                </ion-label>
              </ion-item-divider>
            </ion-item-group>
          </ion-list>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class="card_background">
                  <div class="card_content">                  
                    <ion-card-content>
                      <div class="card_content">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <b>Fantasy</b>
                            </ion-col>
                            <ion-col>
                              <li  style="float: right;">1 Month Ago </li>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <b style="font-size: 20px;">Attack On Titans</b><br><br>
                        <p>The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.</p>
                      <br>
                      <div class="ion-grid">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <p class="col">12 Min Read</p>
                            </ion-col>
                            <ion-col>
                              <p class="col" style="float: right;">Read Full </p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      </div>
                    </ion-card-content>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="card_background">
                  <div class="card_content">                  
                    <ion-card-content>
                      <div class="card_content">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <b>Fantasy</b>
                            </ion-col>
                            <ion-col>
                              <li  style="float: right;">1 Month Ago </li>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <b style="font-size: 20px;">Attack On Titans</b><br><br>
                        <p>The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.</p>
                      <br>
                      <div class="ion-grid">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <p class="col">12 Min Read</p>
                            </ion-col>
                            <ion-col>
                              <p class="col" style="float: right;">Read Full </p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      </div>
                    </ion-card-content>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row> -->
            <!-- <ion-row>
              <ion-col>
                1 of 3
              </ion-col>
              <ion-col>
                2 of 3
              </ion-col>
              <ion-col>
                3 of 3
              </ion-col>
            </ion-row> -->
          <!-- </ion-grid>
        </div>
      </div>
      <ion-footer>
        <ion-toolbar>
          <div class="footer">
              <ion-title class="footer_logo">Footer</ion-title><br>
            <div class="app_description">
              Gates is a blog that focuses on Japanese art and anime. They feature information on Otaku conventions and other anime topics. Hear from famous anime filmmakers and artists as well as plenty of news about the art of cartoon creation in the Japanese culture.
            </div>
            <ion-footer>
              <ion-toolbar>
                <ion-title class="copyright">@copyright 2021 Gates</ion-title>
              </ion-toolbar>
            </ion-footer>
          </div>
        </ion-toolbar>
      </ion-footer> -->
    <!-- </div> -->

    <!-- <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="tab1">
          <ion-icon name="flash"></ion-icon>
          <ion-label>Tab one</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab1">
          <ion-icon name="flash"></ion-icon>
          <ion-label>Tab one</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab1">
          <ion-icon name="flash"></ion-icon>
          <ion-label>Tab one</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
<!-- </ion-content> -->

<!-- <ion-footer>
  <ion-toolbar>
    <div class="footer">
        <ion-title class="footer_logo">Footer</ion-title><br>
      <div class="app_description">
        Gates is a blog that focuses on Japanese art and anime. They feature information on Otaku conventions and other anime topics. Hear from famous anime filmmakers and artists as well as plenty of news about the art of cartoon creation in the Japanese culture.
      </div>
      <ion-footer>
        <ion-toolbar>
          <ion-title class="copyright">@copyright 2021 Gates</ion-title>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-toolbar>
</ion-footer> -->